/* Reset margin and padding for the body and other elements */
body {
    margin: 0;
    padding: 0;
}

/* Style for the body and font */
body {
    background: linear-gradient(270deg, #ff5d00, #ffa470);
    background-size: 400% 400%;
font-family: "open sans";
    -webkit-animation: fade 12s ease infinite;
    -moz-animation: fade 12s ease infinite;
    animation: fade 12s ease infinite;

}
a {
    font-family: "open sans";
}
h1 {
    font-family: "oswald";
}
h2, h3, h4, h5 {
    font-family: "roboto";
}

/* Style for the header */
.topnav {
    background-color: #ff5d00;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    z-index: 1;
    margin-bottom: 3%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
padding-left: 5%; 
padding-right: 5%;
font-family: "roboto";
  }
  .topnav a.icon {
    display: none;
    padding: 1%;
    float: right;
  }


/* Style for the hero section */
.hero {
    
    color: #fff;
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(270deg, #ff5d00, #ffa470);
    background-size: 400% 400%;

    -webkit-animation: fade 12s ease infinite;
    -moz-animation: fade 12s ease infinite;
    animation: fade 12s ease infinite;

}
@-webkit-keyframes fade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes fade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes fade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

/* Style for the email signup section */
.email-signup {
    background-color: #ffa600;
    padding: 40px 0;
    text-align: center;
}

.email-signup input[type="email"] {
    padding: 15px;
    width: 80%;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.email-signup input[type="email"]::placeholder {
    color: #ccc;
    font-size: 16px;
}

.email-signup button {
    background-color: #f27229;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
}
/* CSS for centering the "Sign Up" button */
.center-button {
    text-align: center;
    margin-left: 46%;
    margin-top: 3%;
}


/* Style for the upgrade section */
.upgrade-section {
    background-color: #ffbf00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.upgrade-section-text {
    width: 60%;
}


/* Style for the image box */
.image-box {
    width: 35%;
}

.image-box img {
    max-width: 100%;
    border-radius: 10px;
}


/* Style for the new sections */
.new-section {
    background-color: #ffbf00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    text-align: right;
}
.section-text {
    width: 60%;
}
.section-text2 {
    width: 60%;
    text-align: left;
}

.new-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Style for the section image box */
.section-image-box {
    width: 35%;
}

.section-image-box img {
    max-width: 100%;
    border-radius: 10px;
}

/* Style for the final email sign-up section */


/* Style for the footer */
.footer {
    background-color: #ff5d00;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.footer a {
    color: white;
}
.footerfaq {
    background-color: #ff5d00;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20%;
}
.footerfaq a {
    color: white;
}
.appbilledecontainer {
    background-color: #ffa600;

    text-align: left;
    display: flex;
justify-content: space-evenly;
}
.step {
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    background-color: #ffa600;
    color: white ;
}
.profile {
    color: #fff;
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg, #ff5d00, #ffa470);
    background-size: 400% 400%;
align-items: center;
    -webkit-animation: fade 12s ease infinite;
    -moz-animation: fade 12s ease infinite;
    animation: fade 12s ease infinite;
    margin-bottom: 5%;
}
#info {
    padding-bottom: 5%;
}
.profilboks {
    background-color: #ffa600;
    padding: 40px 0;
    text-align: center;
    color: rgb(0, 0, 0);
}
.profilboks1 {
    background-color:#ff5d00;
    padding: 40px 0;
    text-align: center;
    color: white;
}
#tjek {
    margin-top: 2%;
    flex-direction: row;
    width: 15%;
    flex-wrap: nowrap;
    justify-content: center;
}
.range-slider__range {

    width: 60%;
    height: 2px;
    border-radius: 5px;  
    background-color: #ff0000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background-color: #be2031;
    cursor: pointer;
  }
  .range-slider__range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  select {
    width: 15%;
    text-align: center;
    height: 30%;
    margin-bottom: 5%;
    background-color: #ff5d00;
    color: white;
  }
  #signup  {
        background-color: #ffbf00;
        color: black;
        padding: 15px 30px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 20px;
        display: block;
    margin-left: 46%;
  }
  .appbilleder {
    scale: 0.75;
  }
 
@media screen and (max-width: 600px) {
    .topnav {display: block;}
    .topnav a {display: none;}
    .logo {display: none;}
    .topnav a.icon {
      display: block;
      float: left;
    }
 

    .topnav.responsive {position: relative;
    height: auto;}
    .topnav.responsive a.icon {
      position: absolute;
      left: 0;
      top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        padding: 1%;
      }
      .appbilledecontainer {
        background-color: #ffa600;
        padding: 40px 0;
        text-align: left;
        display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    }
    .appbilleder {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-top: 10%;
    }
    .profile {
        flex-direction: column;
        align-items: center;
    }
}
.profilbillede {
    padding-top: 4%;
    padding-bottom: 4%;
}
.slidebillede {
    max-width: fit-content;
    max-height: 100%;
    scale: (0.25);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slideshow {
    display: block;
    position: relative;
    width: 60%;
    max-width: 700px;
    height: 100%;
    margin: 10px;
    overflow: hidden;
}

.slider__slides {
  width: 100%;
  padding-top: 66%;
}

.slider__slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
}

.slider__slide.active {
    opacity: 1;
}

.slider__slide img {
  width: 100%;
}

.slider__nav-button {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #333;
    opacity: .8;
    cursor: pointer;
}

#nav-button--prev {
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

#nav-button--next {
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
}

#nav-button--next::after{
    top: 50%;
    right: 50%;
    transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
}
input {
    font-family: "open sans";
    border-radius: 2%;
    border: 1px groove grey;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    text-align: left;
}    
#faq {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    color: white;
}
.accordion {
background-color:rgba(255, 255, 255, 0.2);
  color: #444;
  cursor: pointer;
  padding: 18px;
color: white;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
width: 100%;
  font-family: "oswald";
}

p {
    font-family: "open sans";
}


.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.panel {
width: 100%;
  padding: 0 18px;
  background-color:rgba(255, 255, 255, 0.2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
  text-align: center;
}



@media screen and (max-width: 640px) {
  .slider__nav-button {
    height: 40px;
    width: 40px;
  }
  .slider__navlink {
    height: 12px;
    width: 12px;
  }
}